# Demo W39Wed:  Pandas

### 1. Series

**Creating series from dictionaries.** First, let's important the `pandas` module, define a dictionary, and see how we can turn it into a series.

In [2]:
import pandas as pd

In [3]:
pop_dict = {"Hovedstaden": 1.84,
            "Sjælland": 0.84,
            "Syddanmark": 1.22,
            "Midtjylland": 1.32,
            "Nordjylland": 0.59}

Let's look at the dictionary. It contains the by now familiary keys and values.

In [5]:
pop_dict

{'Hovedstaden': 1.84,
 'Sjælland': 0.84,
 'Syddanmark': 1.22,
 'Midtjylland': 1.32,
 'Nordjylland': 0.59}

Now, let's look at the same data as a `pandas` series. This is much easier to read, since it comes in a tabular format with one column for indices and one column for values.

In [6]:
pop_series = pd.Series(pop_dict)
pop_series

Hovedstaden    1.84
Sjælland       0.84
Syddanmark     1.22
Midtjylland    1.32
Nordjylland    0.59
dtype: float64

**Accessing data in a series.** To draw specific content from a `pandas` series, we can use the string indices like in a dictionary.

In [7]:
pop_series['Midtjylland']

1.32

But, we can also use numeric indices like in lists since series are ordered. Using a single numeric index, returns the value stored in the series at the specified position.

In [8]:
pop_series[0]

1.84

If we instead specify a range of indices, i.e. slice the data, we get a subset of the series including the character indices, their associated values, and an indicator of the series type.

In [9]:
pop_series[0:3]

Hovedstaden    1.84
Sjælland       0.84
Syddanmark     1.22
dtype: float64

**Question.** What is the type of the value returned if we specify one numeric index in the series? What is the type if we slice the series?

In [10]:
# Don't run this before you have thought about it!
print(type(pop_series[1]))
print(type(pop_series[1:3]))

<class 'numpy.float64'>
<class 'pandas.core.series.Series'>

As with lists, we can also slice the series at select indices instead of using a range of indices. To do so, we need to index the series using `[[`; where the innermost `[` define a list of indices and the outermost `[` index the series. The cell below returns the first and last entry in the series, first by specifying the numeric index then by specifying the character index.

In [11]:
print(pop_series[[0,-1]])
print('-'*10)
print(pop_series[['Hovedstaden','Syddanmark']])

Hovedstaden    1.84
Nordjylland    0.59
dtype: float64
----------
Hovedstaden    1.84
Syddanmark     1.22
dtype: float64

**Creating series from other data structures.** Now, let's see how we can create series from other data structures than dictionaries, starting with lists.

In [12]:
region_names = ["Hovedstaden",
                "Sjælland",
                "Syddanmark",
                "Midtjylland",
               "Nordjylland"]

pop = [1.85,
       0.83,
       1.22,
       1.33,
       0.59]

To create a series from two lists containing values and character indices, we can pass the values as the first argument to the `Series` command and specify the argument `index` as equal to the list of indices.

In [13]:
pop_series_from_lists = pd.Series(pop, index = region_names)

pop_series_from_lists

Hovedstaden    1.85
Sjælland       0.83
Syddanmark     1.22
Midtjylland    1.33
Nordjylland    0.59
dtype: float64

If we forget to specify the series indices when we create it, we can specify them after the fact by assigning the list of indices to the `index` attribute.

In [14]:
pop_series_from_lists = pd.Series(pop)

pop_series_from_lists

0    1.85
1    0.83
2    1.22
3    1.33
4    0.59
dtype: float64

In [15]:
pop_series_from_lists.index = region_names

pop_series_from_lists

Hovedstaden    1.85
Sjælland       0.83
Syddanmark     1.22
Midtjylland    1.33
Nordjylland    0.59
dtype: float64

**Numerical operations with series.** `Pandas` series can contain any type of data and have different commands applicable to each type of data. For numeric data you might be interested in descriptive statistics which we will cover in the next session. For all types of data, you can count the number of data points in your series using the `count` command. Note that this counts only non-missing data points.

In [16]:
pop_series_from_lists.count()

5

In [17]:
len(pop_series_from_lists)

5

### 2. DataFrames

**Creating DataFrames from dictionaries.** In most applied cases, you will be interested to have more than one value associated with each observation. To accommodate this, `pandas` introduces `DataFrame` containers which we can also construct from dictionaries.

Below, we first define two additional lists containing values for our regions, then we construct a dictionary from the four lists and keys we assign to them.

In [18]:
region_names = ["Hovedstaden", "Sjælland", "Syddanmark", "Midtjylland", "Nordjylland"]
pop = [1.85, 0.83, 1.22, 1.33, 0.59]
covid_cases = [166730, 212168, 262330, 353572, 326801]
covid_vaccinations = [1.34, 0.63, 0.92, 1.00, 0.45]

complex_dictionary = {"Name": region_names,
                      "Population (Millions)": pop,
                      "Covid Cases": covid_cases,
                      "Vaccinations (Millions)": covid_vaccinations}

What does the dictionary look like?

In [19]:
complex_dictionary

{'Name': ['Hovedstaden',
  'Sjælland',
  'Syddanmark',
  'Midtjylland',
  'Nordjylland'],
 'Population (Millions)': [1.85, 0.83, 1.22, 1.33, 0.59],
 'Covid Cases': [166730, 212168, 262330, 353572, 326801],
 'Vaccinations (Millions)': [1.34, 0.63, 0.92, 1.0, 0.45]}

Finally, we turn this complex dictionary containing four keys and values consisting of lists into a neat `DataFrame`.
How does the same data look like in a `DataFrame` container?

In [20]:
df_from_dict = pd.DataFrame(complex_dictionary)
df_from_dict

          Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
0  Hovedstaden                   1.85       166730                     1.34
1     Sjælland                   0.83       212168                     0.63
2   Syddanmark                   1.22       262330                     0.92
3  Midtjylland                   1.33       353572                     1.00
4  Nordjylland                   0.59       326801                     0.45

**Creating DataFrames from other data structures.** First, a `DataFrame` out of lists of tuples.

In [21]:
list_of_tuples = [("Hovedstaden", 1.84, 166730, 1.34),
                  ("Sjælland", 0.84, 212168, 0.63),
                  ("Syddanmark", 1.22, 262330, 0.92),
                  ("Midtjylland", 1.32, 353572, 1.00),
                  ("Nordjylland", 0.59, 326801,  0.45)]
df_from_list_of_tuples = pd.DataFrame(list_of_tuples)

This also creates a neat `DataFrame` but does not give us the column headings or variable names.

In [22]:
df_from_list_of_tuples

             0     1       2     3
0  Hovedstaden  1.84  166730  1.34
1     Sjælland  0.84  212168  0.63
2   Syddanmark  1.22  262330  0.92
3  Midtjylland  1.32  353572  1.00
4  Nordjylland  0.59  326801  0.45

**Naming Columns**: We can add names to the columns using the `.columns` property.

In [23]:
df_from_list_of_tuples.columns = ["Name", "Population (Millions)", "Covid Cases", "Vaccinations (Millions)"]

In [ ]:
df_from_list_of_tuples

**Accessing data in a DataFrame.** Like a `pandas` `Series`, we can access the data in a `DataFrame` using string and numeric indices.

To access the `Name` column, we can index it by it's string name.

In [ ]:
df_from_dict['Name']

Or access it from the `DataFrame` attribute `Name`.

In [24]:
df_from_dict.Name

0    Hovedstaden
1       Sjælland
2     Syddanmark
3    Midtjylland
4    Nordjylland
Name: Name, dtype: object

**Question.** What happens if we try to access the column "Vaccinations (Millions)" as an attribute of our `DataFrame`?

If we don't know the name of the column, we want to index, we can look up all names using the `columns` attribute.

In [25]:
df_from_dict.columns

Index(['Name', 'Population (Millions)', 'Covid Cases',
       'Vaccinations (Millions)'],
      dtype='object')

Using numeric indices, allows us to access the rows in the `DataFrame` and functions analogous to indexing lists, i.e. `[StartIndex:EndIndex:StepLength]`

In [26]:
df_from_dict[0::2]

          Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
0  Hovedstaden                   1.85       166730                     1.34
2   Syddanmark                   1.22       262330                     0.92
4  Nordjylland                   0.59       326801                     0.45

We can also access the same rows by passing a list of booleans (True/False) to the indexing brackets. NB that there are two sets of `[`, one for the indexing the other to define the list of booleans.

In [27]:
df_from_dict[[True, False, True, False, False]]

          Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
0  Hovedstaden                   1.85       166730                     1.34
2   Syddanmark                   1.22       262330                     0.92

In this way, we can generally use boolean masks to filter the `DataFrame` (also applies to e.g. lists) - here we filter only those region who geographically make up Zealand:

In [28]:
zealand = [name in ['Sjælland', 'Hovedstaden'] for name in df_from_dict.Name] 
print(zealand)

df_from_dict[zealand]

[True, True, False, False, False]

          Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
0  Hovedstaden                   1.85       166730                     1.34
1     Sjælland                   0.83       212168                     0.63

As with `Series`, we can add a character `index` to our `DataFrame` that we can then use to index the values in specific cells.

In [29]:
region_initials = ["HV", "SJ", "SD", "MD","ND"]

df_from_dict.index = region_initials

df_from_dict

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       166730                     1.34
SJ     Sjælland                   0.83       212168                     0.63
SD   Syddanmark                   1.22       262330                     0.92
MD  Midtjylland                   1.33       353572                     1.00
ND  Nordjylland                   0.59       326801                     0.45

In [30]:
df_from_dict["Population (Millions)"]["MD"]

1.33

You can also use the `loc` method to access particular rows and columns based on their label. `loc` and plain indexing are very similar, but `loc` can additionally select a single row or list of rows based on labels.

To access a single row or set of rows:

In [37]:
df_from_dict.loc["SJ"]

Name                       Sjælland
Population (Millions)          0.83
Covid Cases                  212168
Vaccinations (Millions)        0.63
Name: SJ, dtype: object

In [40]:
df_from_dict.loc[["HV","MD"]]

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       166730                     1.34
MD  Midtjylland                   1.33       353572                     1.00

Beyond accessing rows through their position, we can also subset the `DataFrame` according to specific conditions. So, if we only wanted to look at regions that have 1 M vaccinations or more.

In [41]:
df_from_dict[df_from_dict["Vaccinations (Millions)"] >= 1.0]

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       166730                     1.34
MD  Midtjylland                   1.33       353572                     1.00

To combine this with the restriction that the Region must be on Zealand, we can use the `&` operator:

In [42]:
vaccinations = df_from_dict["Vaccinations (Millions)"] >= 1.0
zealand = [name in ['Sjælland', 'Hovedstaden'] for name in df_from_dict.Name] 
df_from_dict[vaccinations & zealand]

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       166730                     1.34

**Question** What do you think will happen if you replace the `&` operator with the `and` operator? Try it out.

**Manipulating existing DataFrames.** So far, we have only asked Python to show us different slices of our data but we can also manipulate the underlying data such as subset it permanently or add rows or columns.

In addition to subsetting by inclusion, i.e. saying we want to look at specific columns we can also subset by exclusion using the `drop` command and specifying the `axis` argument as `1` to subset columns and `0` to subset rows.

In [43]:
df_from_dict.drop(["Covid Cases"], axis = 1)

           Name  Population (Millions)  Vaccinations (Millions)
HV  Hovedstaden                   1.85                     1.34
SJ     Sjælland                   0.83                     0.63
SD   Syddanmark                   1.22                     0.92
MD  Midtjylland                   1.33                     1.00
ND  Nordjylland                   0.59                     0.45

In [44]:
df_from_dict.drop(["SD"], axis = 0)

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       166730                     1.34
SJ     Sjælland                   0.83       212168                     0.63
MD  Midtjylland                   1.33       353572                     1.00
ND  Nordjylland                   0.59       326801                     0.45

The cell below creates a subset of our original data only containing the regions that have vaccinated over 1M people.

In [45]:
df_from_dict_highVaccination = df_from_dict[df_from_dict["Vaccinations (Millions)"] >= 1.0]

df_from_dict_highVaccination

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       166730                     1.34
MD  Midtjylland                   1.33       353572                     1.00

To add a row to our exisiting `DateFrame`, we first need to define the new row, turn it into a `DataFrame` object and then use the `concat` command. NB we are setting the `ignore_index` argument to `True` here which removes our string row indices and also provides us with consistent row indices.

In [46]:
new_row = [{"Name": "Ontario",
            "Population (Millions)": 14.57,
            "Covid Cases": 582635,
            "Vaccinations (Millions)": 10.46}]

new_row_df = pd.DataFrame(new_row)

df_from_dict_longer = pd.concat([df_from_dict, new_row_df], axis=0, ignore_index = True)

df_from_dict_longer

          Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
0  Hovedstaden                   1.85       166730                     1.34
1     Sjælland                   0.83       212168                     0.63
2   Syddanmark                   1.22       262330                     0.92
3  Midtjylland                   1.33       353572                     1.00
4  Nordjylland                   0.59       326801                     0.45
5      Ontario                  14.57       582635                    10.46

If we did not set the `ignore_index` argument to `True`, we would either end up with inconsistent row indices

In [47]:
df_from_dict_inconsistent = pd.concat([df_from_dict, new_row_df], axis=0)

df_from_dict_inconsistent

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       166730                     1.34
SJ     Sjælland                   0.83       212168                     0.63
SD   Syddanmark                   1.22       262330                     0.92
MD  Midtjylland                   1.33       353572                     1.00
ND  Nordjylland                   0.59       326801                     0.45
0       Ontario                  14.57       582635                    10.46

Or we would end up with duplicate indices, which can lead to unexpected indexing behavior.

If you want to change some values, you might be tempted to use the usual [] indexing:

In [57]:
df_from_dict[zealand]['Covid Cases'] = [178432, 198321]

C:\Users\Leon\AppData\Local\Temp\ipykernel_4912\1355961446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_from_dict[zealand]['Covid Cases'] = [178432, 198321]

BUT! As Pandas is telling you, be aware!

instead:

In [55]:
df_from_dict.loc[zealand,'Covid Cases'] = [178432, 198321]

In [56]:
df_from_dict

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       178432                     1.34
SJ     Sjælland                   0.83       198321                     0.63
SD   Syddanmark                   1.22       262330                     0.92
MD  Midtjylland                   1.33       353572                     1.00
ND  Nordjylland                   0.59       326801                     0.45

If you are changing values you should use `loc` because strait indexing might return a copy and so you may not be modifying the original data frame.

In [58]:
df_from_dict.loc["SJ","Name"] = "Zealand"

In [59]:
df_from_dict

           Name  Population (Millions)  Covid Cases  Vaccinations (Millions)
HV  Hovedstaden                   1.85       178432                     1.34
SJ      Zealand                   0.83       198321                     0.63
SD   Syddanmark                   1.22       262330                     0.92
MD  Midtjylland                   1.33       353572                     1.00
ND  Nordjylland                   0.59       326801                     0.45

We can also add a new column to our `DataFrame` based on some of the other data. Adding a column is similar to adding a new key/value in a dictionary. You can just assign the new values to the column.

In [60]:
df_from_dict['Proportion Vaccinated'] = df_from_dict["Vaccinations (Millions)"] / df_from_dict["Population (Millions)"]

In [61]:
df_from_dict

,Name,Population (Millions),Covid Cases,Vaccinations (Millions),Proportion Vaccinated
HV,Hovedstaden,1.85,178432,1.34,0.724324
SJ,Zealand,0.83,198321,0.63,0.759036
SD,Syddanmark,1.22,262330,0.92,0.754098
MD,Midtjylland,1.33,353572,1.00,0.751880
ND,Nordjylland,0.59,326801,0.45,0.762712

Finally, maybe we want to update the "Proportion Vaccinated" column so that it says "High Vaccination" in all regions with more than a 75% vaccination rate. With `.loc` you can also specify the column to update. In general, though, we probably don't want to do this because now the column contains two different types, and "highly vaccinated" doesn't really say anything about the proportion.

In [62]:
df_from_dict.loc[df_from_dict["Proportion Vaccinated"] > 0.75, ["Proportion Vaccinated"]] = "Highly Vaccinated"

df_from_dict

,Name,Population (Millions),Covid Cases,Vaccinations (Millions),Proportion Vaccinated
HV,Hovedstaden,1.85,178432,1.34,0.724324
SJ,Zealand,0.83,198321,0.63,Highly Vaccinated
SD,Syddanmark,1.22,262330,0.92,Highly Vaccinated
MD,Midtjylland,1.33,353572,1.00,Highly Vaccinated
ND,Nordjylland,0.59,326801,0.45,Highly Vaccinated

**Merging DataFrames** Above, you have already seen the `pd.concat` method in action. Let's take a closer look at that.

Consider the two pandas dataframes `df1` and `df2` below.

In [63]:
#Importing numpy to generate random numbers
from numpy import random as rand 

df1 = pd.DataFrame(
    rand.randint(0, 10, size=(3, 4)),
    index=[0, 1, 2], columns=['a', 'b', 'c', 'd']
)

df2 = pd.DataFrame(
    rand.randint(0, 10, size=(5, 3)),
    index=[1, 2, 3, 4, 5], columns=['c', 'd', 'e']
)

Join two tables using `pd.concat`. You can select which way to join (horizontal or vertical) by specifying the axis. `axis = 0` joins vertically and `axis = 1` joins horizontally. 

You can also do an "inner" join that is the intersection of the frames, or an "outer" join for the union.

In [64]:
pd.concat([df1,df2], axis = 0, join = "inner")

   c  d
0  1  6
1  1  8
2  3  3
1  6  5
2  2  0
3  5  2
4  3  5
5  6  4

Note the horizontal inner join keeps only the columns in common, but keeps all the rows. 

Note also the overlapping indices. It is better to re-index the tables so that they are unique.

In [65]:
pd.concat([df1,df2], axis = 0, join = "inner", ignore_index = True)

   c  d
0  1  6
1  1  8
2  3  3
3  6  5
4  2  0
5  5  2
6  3  5
7  6  4

If we want to keep all of the columns (vertical join) and take the overlapping rows, we want to use `axis = 1`. Note that `pd.concat` looks at overlapping indices and keeps rows with the same index and discards all others for an inner join.

In [66]:
pd.concat([df1,df2], axis = 1, join = "inner")

   a  b  c  d  c  d  e
1  8  2  1  8  6  5  8
2  7  6  3  3  2  0  7

On the other hand, if we don't want to discard rows, but want to add the tables together, we want an outer join.

In [ ]:
pd.concat([df1,df2], axis = 0, join = "outer", sort = True, ignore_index = True)

In [ ]:
pd.concat([df1,df2], axis = 1, join = "outer")

Note the difference between a horizontal and vertical outer join. 

In a vertical outer join, all of the rows are kept, with overlapping columns merged where possible and null values filled in for the missing elements. 

In a horizontal outer join, all of the columns are kept and rows indices are matched where possible and null values filled in for the missing elements.

## 3. Importing data with Pandas

As we've seen in previous sessions, `Pandas` also has built-in functionality to import all kinds of tabular data which we can then manipulate with our knowledge about how to work with `DataFrames`.

In [1]:
url = 'https://dl.dropboxusercontent.com/s/9war4suj1s5j1ah/sodas_people_twitter_scholar.csv?dl=1'

sodas_people_df = pd.read_csv(url)

sodas_people_dfc

NameError: name 'pd' is not defined

Now, with the sodas people in a `DataFrame`, we can easily subset the data. For example, if we want to only look at people with twitter handles, we can do conditional selection. Note the use of `~` instead of `not` - this tells pandas to compare each row rather than as a whole, like `&` and `and` above.

Similarly, instead of `or` use `|` to apply the operation element-wise.

In [ ]:
sodas_twitter_people = sodas_people_df[~(pd.isna(sodas_people_df["twitter"]))]

sodas_twitter_people